html(ng-app='dashboard')
head
    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='//yui.yahooapis.com/pure/0.4.2/pure.css')
    link(rel='stylesheet', type='text/css', href='css/dashboard.css')
    link(rel='stylesheet', href='css/layouts/marketing.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.min.css')
    
    // TODO replace jQuery with TypeAhead in AngularJS
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js', charset='utf-8')
    script(src='//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.min.js')
    script(type='text/javascript', src='js/angular-dashboard.js')

  body
    include header
    .container-fluid
      .row
        .col-sm-4
          //Personal Stats Panel 
          section(ng-controller='PersonalController as personal')
            .panel.panel-default
              .panel-heading
                h2.panel-title Personal Stats
              .panel-body
                p Last shower water usage: {{lastusage | date:'mediumDate'}}
                p Last shower duration: {{lastduration}}
                p Number of showers: {{numshowers}}
                p Joined: {{datejoined | date:'mediumDate' }}

          .panel.panel-default
            .panel-heading
              h2.panel-title Edit Friend List
            //end panel-heading 
            .panel-body(ng-controller='LeaderboardController as addRemove')
              form.form-horizontal.col-sm-12(role='form')
                .form-group
                  input.form-control.typeahead(id='name', type='text', placeholder='Find a Friend', data-provide='typeahead')
                  p
                  //input#friend.form-control(type='text', placeholder='Friend\'s Name').typeahead
                .form-group.text-center
                  .col-sm-6
                    button.btn.btn-success.btn-block(ng-click='addRemove.addFriend()') Add
                  .col-sm-6
                    button.btn.btn-danger.btn-block(ng-click='addRemove.removeFriend()') Remove
          .panel.panel-default
            .panel-heading
              h2.panel-title Wristband
            .panel-body(ng-controller='WristbandController as wbcontrol')
              p(ng-show="wristband") wrist: {{wristband}}
              form(ng-show="!wristband", ng-submit='postWristband()')
                div(ng-form='wristbandForm')
                  input.form-control(id='wbForm', ng-model='inputID', type='number', placeholder='Wristband ID')
                  input(type='submit', id='submit', value='Submit')
        .col-sm-8
          section(ng-controller='TabController as panel')
            .panel.panel-default
              .panel-heading
                h2.panel-title Your Water Usage For {{panel.period}}
              .panel-body
                | {{panel.usagetotal}}
                #usageChart
                  script(type='text/javascript', src='js/usagechartinit.js')
                ul.nav.nav-pills
                  li(ng-class='{ active: panel.isSet(1)}')
                    a(href='', ng-click='panel.setTab(1)') Week
                  li(ng-class='{ active: panel.isSet(2)}')
                    a(href='', ng-click='panel.setTab(2)') Month
                
          section(ng-controller='LeaderboardController as panel')
            .panel.panel-default
              .panel-heading
                h2.panel-title LeaderBoard
            
              .panel-body
                #leaderChart
                  script(type='text/javascript', src='js/leaderchartinit.js')
  include footer
