<html ng-app="dashboard">
<head>
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css" />
	<link href="http://yui.yahooapis.com/pure/0.4.2/pure.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="../public/css/dashboard.css" />


	<script type='text/javascript' src = '../public/js/jquery.min.js'></script>
	<script type="text/javascript" src="../public/js/angular.min.js"></script>

	<link href="../public/c3/c3.css" rel="stylesheet" type="text/css" />
	<script src="../public/d3/d3.min.js" charset="utf-8"></script>
	<script src="../public/c3/c3.min.js"></script>

	<script type="text/javascript" src="angular-dashboard.js"></script>

</head>

<body>

	<div class="header">
		<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
			<a href="/" class="pure-menu-heading">ShowerSense</a>
			<ul>
				<li class="pure-menu-selected"><a href="/">Home</a></li>
				<li><a href="/auth/facebook">Log In</a></li>
			</ul>
		</div>
	</div>

	<div class="container-fluid"
	<div class="row">
		<div class="col-sm-4">
			<section ng-controller="PersonalController as personal">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Personal Stats</h2>
					</div> <!-- end panel-heading -->
					<div class="panel-body">
						<p>Last shower water usage: {{personal.lastusage}}</p>
						<p>Last shower duration: {{personal.lastduration}}</p>
						<p>Joined: {{personal.datejoined}}</p>
						<p>Number of showers: {{personal.numshowers}}</p>
					</div> <!-- end panel-body -->
				</div> <!-- end panel -->
			</section>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Another Panel</h2>
				</div> <!-- end panel-heading -->
				<div class="panel-body">
					<p>Stuff goes here</p>
				</div> <!-- end panel-body -->
			</div> <!-- end panel -->
		</div> <!-- end col-md-4 column -->
		<div class="col-sm-8">
			<section ng-controller="TabController as panel">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Your Water Usage For {{panel.period}}</h2>
					</div> <!-- end panel-heading -->
					<div class="panel-body">
						{{panel.usagetotal}}
						<!-- CHART -->
						<div id="usageChart">
						<script>
						var usageChart = c3.generate({
							bindto: '#usageChart',
							data: {
								json:{},
								type:'line'
							},
							axis: {
								x: {
									label: 'Day'
								},
								y: {
									label: 'Gallons'
								}
							}
						});
						</script>
					</div>

					<!-- TABS -->

					<ul class="nav nav-pills">
						<li ng-class="{ active: panel.isSet(1)}">
							<a href ng-click="panel.setTab(1)">Week</a>
						</li>
						<li ng-class="{ active: panel.isSet(2)}">
							<a href ng-click="panel.setTab(2)">Month</a>
						</li>
					</ul>

					<!-- decide whether or not to use ng-if instead of ng-show
					http://stackoverflow.com/questions/21869283/when-to-favor-ng-if-vs-ng-show-ng-hide
				-->
			</div> <!-- end panel-body -->

		</div> <!-- end usageChart panel -->
	</section>

	<section ng-controller="LeaderboardController as panel">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">LeaderBoard</h2>
		</div> <!-- end leaderboard panel-heading -->
		<div class="panel-body">
			<div id="leaderChart">
				<script>
				var leaderboard = c3.generate({
					bindto: '#leaderChart',
					data: {
						json:{},
						type:'bar'
					},
					axis:{
						rotated:'true',

						}
				});
				</script>
			</div>
		</div> <!-- end leaderboard panel-body -->
	</div> <!-- end leaderboard panel -->
	</section>
</div> <!-- end col-md-8 column -->
</div> <!-- end Row -->
</div> <!-- end Container -->

</body>
</html>
