doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href='../../assets/ico/favicon.ico')
        title Dashboard Template for Bootstrap

        link(href='css/bootstrap.min.css', rel='stylesheet')

        link(href='css/dashboard.css', rel='stylesheet')


        link(rel='stylesheet', href='//yui.yahooapis.com/pure/0.4.2/pure.css')
        link(rel='stylesheet', href='css/layouts/marketing.css')
        script(type='text/javascript', src = '//code.jquery.com/jquery-2.1.1.min.js')
        

    
    body

    include header

    block content
