extends layout

block content
    .content
        h2.content-head.is-center Add Your Friends
        .pure-g
            .l-box.pure-u-1.is-center
                form(style="padding: 1em")
                    input(id="name", type='text', placeholder='Find a Friend').typeahead
                    p
                    button.pure-button.pure-button-primary(type='submit') Add Friend
    include footer

    script(src='http://yui.yahooapis.com/3.14.1/build/yui/yui.js')
    script(type='text/javascript', src = 'js/invite.js')
    //-script(type='text/javascript', src = 'js/typeahead.bundle.js')
    script(type='text/javascript', src = 'js/bootstrap.min.js')
    //- script
    //-     YUI().use('node-base', 'node-event-delegate', function (Y) {
    //-     Y.one('body').delegate('click', function (e) {
    //-     e.preventDefault();
    //-     }, 'a[href="#"]');
    //-     });
