extends layout

block content
    include splash
        p
            a.pure-button.pure-button(id='start', href='/auth/facebook') Login with Facebook
    .content-wrapper
        .content
        
        include footer

    script(src='http://yui.yahooapis.com/3.14.1/build/yui/yui.js')
