extends layout

block content
    include splash
        p
            a.pure-button.pure-button(href="/dashboardToday") Go to Dashboard
    .content-wrapper
        .content
            h2.content-head.is-center(id="getStarted", name="start") How To Get Started
            .pure-g
                .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-5
                .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
                    h3(style="color:grey;").content-subhead
                        i.fa.fa-facebook
                        | Step 1
                    a.pure-button.pure-button-disabled Login With Facebook
                .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
                    h3(style="color:grey;").content-subhead
                        i.fa.fa-mobile
                        | Step 2
                    a.pure-button.pure-button-disabled Connect Wristband
                .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
                    h3.content-subhead
                        i.fa.fa-check
                        | Step 3
                    a.pure-button.pure-button(href="/friends") Connect with Friends

        include footer

    script(src='http://yui.yahooapis.com/3.14.1/build/yui/yui.js')
    //script(type='text/javascript', src = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
