.ribbon.l-box-lrg.pure-g
    .l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
        a(href="http://www.moves-app.com/"): img.pure-img-responsive(alt='File Icons', width='200', src='img/Moves_App_Large_Icon.png')
    .pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
        h2.content-head.content-head-ribbon Moves
        p.pure-u-4-5
            |Moves is an automatic diary of your life. Your daily storyline and maps show where, when, and how much you move.    
        div
            a(href="http://appstore.com/moves"): img.pure-img-responsive(width='190', height='57', src='img/app-store.svg', style="margin-right:20px; margin-bottom: 16px")
            a(href="https://play.google.com/store/apps/details?id=com.protogeo.moves"): img.pure-img-responsive(width='166', height='40', src='img/google-play.svg', style="margin-bottom:16px")
