
#circles{
	height: 300px;
}

#walkCircle{
	position: absolute;
	bottom: -242px;
	padding-left: 0;
	
	width: 0px;
	height: 0px;
	border-radius: 100%;
    background-color: lightgreen;

}

#cycleCircle{
	position: absolute;
	bottom: -242px;

	width: 0px;
	height: 0px;
	border-radius: 100%;
    background-color: lightblue;
}

#runCircle{
	position: absolute;
	bottom: -242px;
	right: 0px;


	width: 0px; 
	height: 0px;
	border-radius: 100%;
    background-color: hotpink;
}